*.py[co]
*.sublime-*
.coverage
*.egg-info/
*.eggs*
cover/
.mypy_cache/
evoc/test/dummy*
backup_type.*
TODO.txt
env/
build
dist
examples/exampledb.sqlite3
examples/example.types
PyQt4_gpl_x11-*
sip-* 
testdb.sqlite3
evoc/test/**/*.out
